<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cuahangxemaynhom8.Properties.Settings.QuanLyCuaHangBanXeMayConnectionString"
            connectionString="Data Source=DESKTOP-2405QGG\SQLEXPRESS;Initial Catalog=QuanLyCuaHangBanXeMay;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>